
body{margin: 0;
background-color: #f5f5f5}

.header{padding: 5%;
height: auto;
background-color: #141414;
color:white;
font-size: 150%;
text-align: center;
font-weight: lighter;
font-family: galliard_btroman;
letter-spacing: 1.5px;
text-align: center;
overflow: hidden;

background-image: url(images/SKY-BG.jpg);
background-size: cover;
background-repeat: no-repeat;}

.header h2{border: 5px  solid #1a95db;
padding: 2%;
float: left;
display: block;
margin: 0 0 0 5%;
width: 35%;
border-radius: 20px;}

.header p{text-align: left;
padding: 2% ;
float: left;
display: block;
margin: 0 0 0 5%;
width: 50%;
font-size: 125%;}

.header ul{text-align: left;
padding: 2%;
display: block;
margin: 0 0 0 5% ;
float: left;}

.header img{
top:0;
width: 20%;
padding:4% 10% 0 0;
display: block;
float: right;}

/* Start of navigation css */
.Nav{padding:15px;
text-align: center;
height: min-content;
font-size: 160%;
background-color: #141414;
position: sticky;
width: auto;
top: 0;}

.Nav a{position: relative;
display: inline-block;
text-decoration: none;
color: #abebff;
width: 10%;}

.Nav a::after{content:' ';
 height: 3px;
 background-color: #ffffff;
 position: absolute;
 bottom: -10px;
 left: 0px;
transition: all 0.5s ease-in-out;
transform: scaleX(0);}

.Nav a:hover::after{width: 100%; transform: scaleX(1); }
/* end of navigation css */

/* css for main */
.Main{padding: 15px;
margin: 20px;
background-color: white;
border-radius: 30px;
height: auto;
overflow:hidden;}

.Main img{border-radius:50%;}

.Main .tooltip{display:inline-block;
width:25%;
height:20%;
float:left;
margin-bottom:8%;
text-align:center;}

.Main .tooltip .tooltip_text{border-radius:10%;
width:70%;
text-align:left;
visibility:hidden;
margin:2%;
padding:3%;
display:block;
background-color:#222c3d;
color:#abebff;;
left:25%;}

.Main .tooltip:hover .tooltip_text{visibility:visible;
position:relative;}

.Main h1{font-size:300%;
text-align:center;
font-family:sans-serif;}

.Main p{font-size: 125%;
font-weight: normal;
font-family: sans-serif;}
/* end of css for main */

.Footer{padding: 15px;
margin-top:2%;
height: auto;
background-color: #141414;
color:white;
font-size: 150%;
text-align: center;
font-weight: lighter;
font-family: galliard_btroman;
letter-spacing: 1.5px;}
