

.container.header{background-color:#363945;
}
.container{padding: 15px;}

.header{padding: 15px;
margin: 20px;
background-color: #0a0a29;
border-radius: 0 0 30px 30px;
color:white;
font-size: 150%;
text-align: center;
font-weight: lighter;
font-family: galliard_btroman;
letter-spacing: 1.5px;}

.header img{border-radius: 50%; float: left;}

/* Start of navigation css */
.Nav{padding:15px;
margin: 20px;
color: white;
text-align: center;
height: min-content;
font-size: 160%;
background-color: black;
border-radius: 25px;}

.Nav a{position: relative;
display: inline-block;
text-decoration: none;
color: white;
width: 10%;}

.Nav a::after{content:' ';
 height: 3px;
 background-color: white;
 display: inline-block;
 position: absolute;
 bottom: 0px;
 left: 0px;
transition: ease 300ms;
transform-origin: center;
transform: scaleX(0);}

.Nav a:hover::after{width: 100%; transform: scaleX(1); }
/* end of navigation css */

/* css for main */
.Main{padding: 15px;
margin: 20px;
background-color: white;
border-radius: 30px;}

.Main p{font-size: 125%;
font-weight: normal;
font-family: sans-serif;}
/* end of css for main */
.Footer{padding: 15px;
margin: 20px;}
